.DS_Store
target
.project
.settings/*
.classpath
.idea/*

gossip-core/target/*
gossip-core/.project
gossip-core/.settings/*
gossip-core/.classpath

monitoring-extension/target/*
monitoring-extension/.project
monitoring-extension/.settings/*
monitoring-extension/.classpath

monitoring-extension-test/target/*
monitoring-extension-test/.project
monitoring-extension-test/.settings/*
monitoring-extension-test/.classpath
