.DS_Store
target
.project
.settings/*
.classpath

gossip-core/target/*
gossip-core/.project
gossip-core/.settings/*
gossip-core/.classpath

monitoring-extension/target/*
monitoring-extension/.project
monitoring-extension/.settings/*
monitoring-extension/.classpath

