.DS_Store
target
.project
.settings/*
.classpath

monitoring-service-commons/target/*
monitoring-service-commons/.project
monitoring-service-commons/.settings/*
monitoring-service-commons/.classpath

monitoring-service-interface/target/*
monitoring-service-interface/.project
monitoring-service-interface/.settings/*
monitoring-service-interface/.classpath

monitoring-service-ga/target/*
monitoring-service-ga/.project
monitoring-service-ga/.settings/*
monitoring-service-ga/.classpath

monitoring-service-rma/target/*
monitoring-service-rma/.project
monitoring-service-rma/.settings/*
monitoring-service-rma/.classpath

